*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 10px;
}
.center{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.seats{
    border: 1px solid red;
    box-shadow: 1px 1px 1px 1px;
    height: 400px;
    width: 300px;
}
.row1{
    
    height: auto;
}
.row1 .occupied{
    background-color: rgb(46, 46, 201);
    border: none;
    color: white;
}
.row1 .selected{
    background-color:  rgb(216, 70, 70);
    color: white;
    border: none;
}
.row1 .empty{
    background-color: black;
    color: white;
    border: none;
}
.row1 button{
    padding: 7px;
    width: 70px;
    margin: 10px;
}
.btn{
    padding: 9px;
    background-color: green;
    color: white;
    border: none;
    outline: none;
    margin: 20px;
}